body {
    background-color: #232529;
    font-family: "Roboto", sans-serif;
    color: #fff;
}

.test_process-title {
    text-align: center;
    font:
        700 32px / 40px BlinkMacSystemFont,
        -apple-system,
        Segoe UI,
        Roboto,
        Helvetica,
        Arial,
        sans-serif;
    margin: 0 auto 12px;
}

.test_process-line-block {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    border: 2px solid #eee;
    border-radius: 20px;
    padding: 5px;
}

.test_processLineBlocks {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 700px) {
    .test_process-line-block {
        display: flex;
        align-items: flex-start;
        flex-wrap: nowrap;
        border: 2px solid #eee;
        border-radius: 20px;
        padding: 5px;
        flex-wrap: wrap;
        align-items: center;
    }
    .test_processLineBlocks {
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.test_processLineBlocks_inset {
    height: 22px;
    width: 22px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.test_processLineBlocks_inset_blue {
    background-color: #f8ab47;
}

/* ========================================== */

.test_process_variant_block {
    padding: 30px;
    text-align: left;
    border: 3px solid #eee;
    border-radius: 10px;
}

.test_process_variant_block_title {
}

.next_button {
    padding: 10px 20px;
    background-color: green;
    border: 0;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    margin: 15px auto;
    cursor: pointer;
}

.next_button_disable {
    padding: 10px 20px;
    background-color: green;
    border: 0;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    margin: 15px auto;
    cursor: pointer;
    opacity: 0.6;
}

.test_processLineBlocks_lists {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px 0;
}

.test_processLineBlocks_list {
    color: #fff;
}

.test_process-input_checkbox {
    margin: 0 10px;
    cursor: pointer;
}
.test_process-input_radio {
    margin: 0 10px;
    cursor: pointer;
}
.test_process-input_label {
    cursor: pointer;
}

.answer_time {
}

.answer_time-title {
    font:
        700 32px / 40px BlinkMacSystemFont,
        -apple-system,
        Segoe UI,
        Roboto,
        Helvetica,
        Arial,
        sans-serif;
    margin: 0 auto 12px;
    padding: 0;
    text-align: center;
}
.test_block-title {
    font-size: 20px;
}
.answer_time-test-green {
    border: 2px solid green;
    border-radius: 10px;
    padding: 3px;
}
.answer_time-test-red {
    border: 2px solid red;
    border-radius: 10px;
    padding: 3px;
}
.answer_time-test-green-main {
    border: 2px solid green;
    border-radius: 10px;
    padding: 10px;
    margin: 15px 0;
}
.answer_time-test-red-main {
    border: 2px solid red;
    border-radius: 10px;
    padding: 10px;
    margin: 15px 0;
}
.test_block-list {
    padding: 5px;
    margin: 5px;
}
