* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nocopy {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
:root{
    --text-grey: #868d9a;
    --main-padding: 980px;
}

.container{
    margin: auto;
    width: 100%;
    max-width: var(--main-padding);
    padding: 40px 0 28px;
}

body{
    background-color: #232529;
    font-family: "Roboto", sans-serif;
}

.pointer{
    cursor: pointer;
}
p, ul, li{
    color: #e2e3e7;
}